*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{
    margin: 20px 10px;
    background-color: rgb(226, 224, 224);
    border-radius: 8px;
}
#main #title{
    text-align: center;
    padding: 30px 0;
    font-size: 45px;
}
#main p{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}
#img-div{
    margin: 0px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image{
    width: 1000px;
    height: 600px;
    padding: 20px 0;
}
#img-div p{
    padding: 0px 30px 20px 30px;
    font-size: 17px;
}
#tribute-info{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 50px 450px;
}
#tribute-info h2{
    padding-bottom: 50px;
}
#tribute-info ul li{
    padding: 10px 0px;
    font-size: 17px;
}
#tribute-info article{
    padding-top: 20px;
    font-size: 18px;
    font-style: italic;
}
#last-line{
    padding: 0px 0px 20px 0px;
}
#last-line p{
    font-size: 18px;
}
#last-line p a{
    color: darkcyan;
}

